body {
    background: #fff;
    color: #333;

    font-family: sans-serif;
    font-weight: 200;
}

fieldset {
    border: 0;
    background: #fcfcfc;
    border-radius: 3px;
    margin-bottom: 1em;

    /* tame legend */
    position: relative;
    padding-top: 1.33em;
}
legend {
    position: absolute;
    top: 0.5em;
}

#translation section {
    display: inline-block;
    margin-top: 1em;
    vertical-align: middle;
    border: 1px solid #eee;
    padding: 5px;
}
#translation .result {
    font-size: 200%;
}
#translation .lang {
    font-size: 80%;
}
#translation ul.result-links {
    list-style-type: none;
    padding-left: 0;
    line-height: 133%;
}

